/* custom CSS rules */

/* display none for layout but be careful of license restrictions */
.mapbox-logo, .leaflet-control-attribution {
    display: none; 
}

.leaflet-tooltip {
    min-width: 180px;
    font-size: 130%;
    white-space: normal;
}

.legend {
    padding: 6px 8px;
    font-size: 1em;
    background: rgba(75, 75, 75, 0.8);
    color: whitesmoke;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 160px;
}

.legend h3 {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1em;
    color: whitesmoke;
    margin: 0;
}

.legend h3 span {
    font-size: 1.3em;
    margin: 0 20px 0 0;
}

.legend ul {
    list-style-type: none;
    padding: 0;
    margin: 12px 4px 0;
}

.legend li {
    height: 22px;
}

.legend span {
    width: 30px;
    height: 20px;
    float: left;
    margin-right: 10px;
}

#ui-controls {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

label {
    font-size: 1.1em;
    font-weight: bold;
}

