/* custom CSS rules */

/* display none for layout but be careful of license restrictions */
.mapbox-logo, .leaflet-control-attribution {
  display: none; 

}

.legend-large, .legend-small {
    border-radius: 50%;
}

hr.small, hr.large {
    width: 83px;
    position: absolute;
    top: -8px;
    left: 55px;
    border: 1px dashed #ccc;     /* overwrite assembly.css rule */
    margin-top: 8px;            /* overwrite assembly.css rule */
}
.menu-ui {
  position:absolute;
  top:10px;
  right:10px;
  }

/* Do a fancy data transition for browsers that support it */
path {
  -webkit-transition:fill 200ms;
          transition:fill 200ms;
  }